{% extends 'base.html' %}

{% block title %}Logs{% endblock %}

{% block body %}
<table class="table table-hover table-bordered" style="width: 98%; margin: 15px">
    <thead>
        <tr>
            <th>Created</th>
            <th>User ID</th>
            <th>User name</th>
            <th>Update</th>
            <th>Headers</th>
        </tr>
    </thead>

    <tbody>
    {% for entry in logs %}
        <tr>
            <td>{{ entry.created }}</td>
            <td>{{ entry.update['message']['from']['id'] }}</td>
            <td>{{ entry.update['message']['from']['first_name'] }} {{ entry.update['message']['from']['last_name'] }}</td>
            <td>{{ entry.update }}</td>
            <td>
                {% for header_name, value in entry.headers.items() %}
                    <b>{{ header_name }}:</b> {{ value }}<br />
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}